body{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: rgba(250, 235, 215, 0.226);

}
.todo-wrapper{
  display:flex;
  flex-direction: column;
  justify-content:center;
  width:400px;
  padding-left:20px;
  border-radius: 5%;
  padding:20px;
  margin:10px;
  background-color: white;
}
.todo-row{
  width:100%;
  
}
.todo-input{
  margin:2px;
  justify-content: left;
  width:80%;
  height:40px;
  background-color: rgba(211, 211, 211, 0.356);
  border-radius: 10px;
  border:none;
}
.todo-btn{
  float:left;
  background-color: rgb(16, 12, 215);
}
